
<div class="row">
    <div class="col-12">
        <form class="row g-3" method="post" action="/registrar">
            <div class="col-12 ">
                <a class="text-decoration-none text-black" href="/"><i class="fa-solid fa-left-long"></i> Back</a>
            </div>
            <div class="col-md-12">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre"/>
            </div>
            <div class="col-md-6">
                <label for="pApellido" class="form-label">Primer Apellido</label>
                <input type="text" class="form-control" id="pApellido" name="pApellido"/>
            </div>
            <div class="col-md-6">
                <label for="sApellido" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" id="sApellido" name="sApellido"/>
            </div>
            <div class="col-md-4">
                <label for="fNacimiento" class="form-label">Fecha Naciminiento</label>
                <input type="date" class="form-control" id="fNacimiento" name="fNacimiento"/>
            </div>
            <div class="col-md-8">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email"/>  
            </div>
            <div class="col-md-6">
                <label for="codigo" class="form-label">Codigo</label>
                <input type="text" class="form-control" id="codigo" name="codigo"/>
            </div>
            <div class="col-md-6">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono"/>
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>