<h2>REGISTRAR PRODUCTO</h2>

<form action="/registrar" method="post">

    <input type="text" name="nombre" placeholder="Digite nombre"><br>
    <input type="text" name="precio" placeholder="Digite precio"><br>
    <textarea name="descripcion"></textarea><br>
    <input type="submit" name="aceptar" value="Registrar">

</form>